.layout {
    background-image: url('../../vetor-bg.svg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: cover;
}

.layout main::after {
    content: '';
    background: linear-gradient(rgb(235, 235, 235), rgb(220,220,220));
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 80px;
    z-index: -1;
}

@media (max-width: 350px){
    .layout {
        background-position-y: bottom;
    }
}